:root {
    //colors
    --clr-primary: #E53A40;
    --clr-primary-2: #f0632c;
    --clr-secondary: #f3f3f3;
    --clr-secondary-2: #888888;
    --clr-dark: #000;
    --clr-light: #fff;

    //box-shadow
    --box-shadow-1: 0 10px 30px rgba(0, 0, 0, .2)
}